.profile-pic-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }

.profile-pic-container img {
    border-radius: 50%;
    width: 33%;
    height: auto;
  }


.about-container section {
    padding-left: 15%;
    padding-right: 15%; 
    padding-bottom: 2.5%;
  }

