.skills-container {
    text-align: center;
    margin: 10%, 10%, 10%, 10%;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    gap: 10px;
    margin: 0 auto;
  }

  .skills-list::after {
    content: '';
    flex: auto;
  }

  .skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    width: calc(100% / 6 - 10px);
    margin-bottom: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .skill-box:hover {
    transform: scale(1.05);
    /* background-color: JavaScript */
  }
